#nav-mobile a{
   font-weight: bold;
   margin-right: 45px;
}


.blocky {
    background-color: blue;
    text-align: center;
}
#bryan_image{
    border-radius: 300px;
    max-width: 350px;
    max-height: 350px;
    border: solid 4px;
    border-color: #42c4ac;

}

.background-card{
    position: absolute;
    min-width: 25%;
    max-width: 25%;
    right: 12.5%;
}


.date{
    margin-left: 25px;
    margin-right: 25px;
}
.block{
    padding-top:10%;
}
.left-block{
    display: inline-block;
    float: left;
    min-height: 100vh;
    min-width: 50vw;
    max-width: 50vw;
    background-color: black;
}
.right-block{
    margin-top: 0;
    background-color: black;
    min-height: 100vh;
    min-width: 50vw;
}

#aboutme p{
    color: #04342b;
}

#aboutme h1{
    color: ##42c4ac;
}

.border-code{
    display: inline;
    min-height: inherit;
}
.asdf {
    position: relative;
    text-align: center;
    top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 75px;
    display: inline-block;
    /*	background-color: black;*/
    border: solid black 2px;
    min-height: 75px;
}

h2 {
    font-family: Raleway;
    /* font-family: "Helvetica"; */
    /*	float: left;*/
    min-width: 75px;
    /*	max-width: 100px;*/
    position: absolute;
    top: -2.5px;
    /*	text-overflow: hidden;*/
    /*	font-size: 100px;*/
    /*	display: inline;*/
    /*	float: left;*/
    /*	position: absolute;*/
    /*	left: 45%;*/
    /*	left: -200px;*/
    /*	background-color: pink;*/
}

.project-info{
    display: inline-block;
    position: relative;
    top: 82%;
    opacity: 0;
    color: white;
    margin: 0 auto;
}

.clients .client:hover .project-info:hover{
    opacity: 1;
    color:black;
    background-color: white;
}

.clients .client .project-summary{
    top: 40px;
    padding: 0px 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}
.header .card{
    max-width: 25%;
    min-width: 25%
}
.asdf {
    -webkit-animation: expand 2s forwards;
    -moz-animation: expand 2s forwards;
    animation: expand 2s forwards;
}

#title {
    top: 50px;
    border-bottom: solid black 2px;
    position: relative;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    /*	-moz-transform: rotate(180deg);*/
    -webkit-animation: spin-title 4s forwards;
    -moz-animation: spin-title 4s forwards;
    animation: spin-title 4s forwards;
}

#title-large {
    border-bottom: solid black 2px;
    -webkit-animation: large-title 4s forwards;
    -moz-animation: large-title 4s forwards;
    animation: large-title 4s forwards;
}

@-moz-keyframes large-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        -moz-transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@-webkit-keyframes large-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        -webkit-transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@keyframes large-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@-moz-keyframes spin-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        -moz-transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@-webkit-keyframes spin-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        -webkit-transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@keyframes spin-title {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform: rotate(180deg);
    }
    90% {
        position: relative;
    }
    100% {
        opacity: 1;
        position: relative;
    }
}

@-moz-keyframes expand {
    0% {
        width: 1px;
    }
    50% {
        width: 300px;
        -moz-transform: rotate(180deg);
    }
    100% {
        width: 225px;
        -moz-transform: rotate(180deg);
    }
}

@-webkit-keyframes expand {
    0% {
        width: 1px;
    }
    50% {
        width: 300px;
        -webkit-transform: rotate(180deg);
    }
    100% {
        width: 225px;
        -webkit-transform: rotate(180deg);
    }
}

@keyframes expand {
    0% {
        width: 1px;
    }
    50% {
        width: 300px;
        transform: rotate(180deg);
    }
    100% {
        width: 225px;
        transform: rotate(180deg);
    }
}


/*
#title{
	-webkit-animation:expand 2s forwards ;
    -moz-animation:expand 2s forwards ;
    animation:expand 2s forwards ;

}
*/

#T {
    transform: rotate(180deg);
    -webkit-animation: spin-t 4s forwards;
    -moz-animation: spin-t 4s forwards;
    animation: spin-t 4s forwards;
}

@-moz-keyframes spin-t {
    66% {
        left: 0px;
        -moz-transform: rotate(360deg);
    }
    100% {
        left: 150px;
    }
}

@-webkit-keyframes spin-t {
    66% {
        left: 0px;
        -webkit-transform: rotate(360deg);
    }
    100% {
        left: 150px;
    }
}

@keyframes spin-t {
    66% {
        left: 0px;
        transform: rotate(360deg);
    }
    100% {
        left: 150px;
    }
}

#O {
    transform: rotate(180deg);
    -webkit-animation: spin-o 4s forwards;
    -moz-animation: spin-o 4s forwards;
    animation: spin-o 4s forwards;
}

@-moz-keyframes spin-o {
    66% {
        left: 0px;
        -moz-transform: rotate(360deg);
    }
    100% {
        left: 75px;
    }
}

@-webkit-keyframes spin-o {
    66% {
        left: 0px;
        -webkit-transform: rotate(360deg);
    }
    100% {
        left: 75px;
    }
}

@keyframes spin-o {
    66% {
        left: 0px;
        transform: rotate(360deg);
    }
    100% {
        left: 75px;
    }
}

#M {
    transform: rotate(180deg);
    -webkit-animation: spin-m 4s forwards;
    -moz-animation: spin-m 4s forwards;
    animation: spin-m 4s forwards;
}

@-moz-keyframes spin-m {
    66% {
        left: 0px;
        -moz-transform: rotate(360deg);
    }
    100% {
        left: 0px;
    }
}

@-webkit-keyframes spin-m {
    66% {
        left: 0px;
        -webkit-transform: rotate(360deg);
    }
    100% {
        left: 0px;
    }
}

@keyframes spin-m {
    66% {
        left: 0px;
        transform: rotate(360deg);
    }
    100% {
        left: 0px;
    }
}

#T {
    z-index: 4;
}


/*2.35 diff 50% O*/

#O {
    /*	0.75%*/
    z-index: 2;
}

#M {
    z-index: 3;
}
